{% filter indent(_indent + 4) %}

{{ name }} class
{%- if args|length > 0 %}

Args:
    {%- for arg in args %}
    {{ arg.arg }} ({{arg.annotation.id}}): TODO: to complete
    {%- endfor %}
{%- endif %}
{%- if attributes|length > 0 %}

Attributes:
    {%- for attr in attributes %}
    {{ attr.target.id }} ({{attr.annotation.id}}): TODO: to complete
    {%- endfor %}
{%- endif %}
{% endfilter %}
{{ "" | indent(_indent + 4, blank=True, first=True) }}
